@media (max-width: 600px) {
    .navButton {color: aqua;
      /* Adjust button size and spacing for mobile */
    }
    .navbar {
      color: #000;
      /* Adjust navbar layout for mobile */
    }
    /* Add more styles for other elements */
  }
  

  .navContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navButton {
    flex: 1 1 auto;
    /* buttons will grow and shrink as needed */
  }
  
  .navButton {
    width: 100%; /* Full width on small screens */
    padding: 1rem;
    font-size: 1.2rem;
  }
  


/* .navbar{

    height: 80px;
    background-color: #005480;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 100px;
    border: none;
    padding: 8px 50px;
    cursor: pointer;
    color: #003580;
    
} */